# custom
project.md
SETUP.md
models/
out/
data/
temp/
external/
/app.py
emotion_env/
ravdess_raw/
emotion_model/
streamlit_app.py
run_streamlit.sh
xtreme-today/
PROSODIC*.md
LLM_vibe_checker.py
STT_and_processing.py
run_stt.bat


# Python
__pycache__/
*.pyc

# macOS
.DS_Store

# Virtual environments
venv/
env/
ENV/
.venv

# IDE
.vscode/

# Environment variables
.env

# File types
*.wav
*.json
*.pyc
*.safetensors
*.bin
