# custom
project.md
SETUP.md
models/
out/
data/
temp/
external/
/app.py

# Python
__pycache__/
*.pyc

# Virtual environments
venv/
env/
ENV/
.venv

# IDE
.vscode/

# Environment variables
.env

emotion_env/
ravdess_raw/
emotion_model/
*.wav
*.json
*.pyc
*.safetensors
*.bin

