# custom
project.md
SETUP.md
models/
out/
data/
temp/
external/
/app.py
streamlit_app.py
run_streamlit.sh

# Python
__pycache__/
*.pyc

# Virtual environments
venv/
env/
ENV/
.venv

# IDE
.vscode/

# Environment variables
.env

*.wav